{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Heart Charity{% endblock %}</title>

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Kind Heart Charity</title>

        <!-- CSS FILES -->        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">
<!--

TemplateMo 581 Kind Heart Charity

https://templatemo.com/tm-581-kind-heart-charity

-->

    </head>
    
    <body>

        <!-- <header class="site-header">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-8 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <i class="bi-geo-alt me-2"></i>
                            Akershusstranda 20, 0150 Oslo, Norway
                        </p>

                        <p class="d-flex mb-0">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@company.com">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-youtube"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul> 
                    </div> 

                </div> 
            </div> 
        </header> -->

        <nav class="navbar navbar-expand-lg bg-light shadow-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'images/logo.png'  %}"  class="logo img-fluid" alt="Kind Heart Charity">
                    <span>
                        Kind Heart Charity
                        <small>Non-profit Organization</small>
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        {% if user.is_authenticated %}
                        <!-- <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'our_causes' %}">our_causes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Return</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Study Material</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">For Readers</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">SignIn</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">SignUp</a></li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <!-- <div class="dropdown nav-item">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color:var(--bs-navbar-brand-color)">Welcome, {{ request.user.username }}</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li ><a class="dropdown-item text-light" id="logoutButton" >Logout</a></li>
                        </ul>
                    </div> -->
                    <div class="dropdown nav-item" >
                     <button class="btn  nav-link"  type="button" >
                         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color:var(--bs-navbar-brand-color)">Welcome, {{ request.user.username }}</a>
                         <span class="caret"></span></button>
                     <ul class="dropdown-menu " style="background-color: rgb(212, 209, 209) !important; ">
                         <center>
                             <li class="nav-item" style="padding-top: 8px !important"><a class="nav-link" href="#">Expected_book</a></li>
                             <li class="nav-item" style="padding-top: 8px !important"><a class="nav-link" href="#">History</a></li>
                             <li class="nav-item" style="padding-top: 8px !important"><a id="logoutButton" type="button" class="text-dark"><b><i>Logout</i></b></a></li>
     
                             <!-- <li><a href="#" type="button" class="text-dark">CSS</a></li> -->
                         </center>
                        
                     </ul>
                   </div>
                 </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main>

            <section class="hero-section">
                <div class="container py-5">
                    <div class="row">
                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
            </section>


        </main>
        <script>
            // Get the logout button element
            const logoutButton = document.getElementById('logoutButton');
        
            // Add event listener to the button
            logoutButton.addEventListener('click', function() {
                // Confirm before logging out
                const userConfirmation = confirm("Are you sure you want to logout?");
                
                if (userConfirmation==true) {
                    // alert("Logging out...");
                    window.location.href = '/logout'; // Replace with your actual logout URL or action
                } else {
                     window.location.href="/issue_item"
                }
            });
        </script>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-4">
                        <img src="{% static 'images/logo.png' %}" class="logo img-fluid" alt="">
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <h5 class="site-footer-title mb-3">Quick Links</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Our Story</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Newsroom</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Causes</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Become a volunteer</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Partner with us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mx-auto">
                        <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone me-2"></i>

                            <a href="tel: 120-240-9600" class="site-footer-link">
                                120-240-9600
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                donate@charity.org
                            </a>
                        </p>

                        <p class="text-white d-flex mt-3">
                            <i class="bi-geo-alt me-2"></i>
                            Akershusstranda 20, 0150 Oslo, Norway
                        </p>

                        <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-7 col-12">
                            <p class="copyright-text mb-0">Copyright © 2036 <a href="#">Kind Heart</a> Charity Org.
                       </p>
                        </div>
                        
                        <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/jquery.sticky.js'%}"></script>
        <script src="{% static 'js/click-scroll.js'%}"></script>
        <script src="{% static 'js/counter.js'%}"></script>
        <script src="{% static 'js/custom.js'%}"></script>

    </body>
</html>